<app-layout [pageTitle]=" modoEdicao ? 'Editar Tarefa' : 'Criar Nova Tarefa' ">

    <div class="container ">

        <!-- Mensagens de sucesso ou erro -->
        <div *ngIf="sucesso" class="alert alert-success">{{ sucesso }}</div>
        <div *ngIf="erro" class="alert alert-danger">{{ erro }}</div>

        <!-- Formulário -->
        <form [formGroup]="tarefaForm" (ngSubmit)="onSubmit()">
            <!-- Campo Título -->
            <div class="mb-3">
                <label for="titulo" class="form-label">Título</label>
                <input id="titulo" type="text" class="form-control" formControlName="titulo" />
                <div *ngIf="tarefaForm.get('titulo')?.invalid && tarefaForm.get('titulo')?.touched"
                    class="invalid-feedback">
                    Título é obrigatório e deve ter no máximo 100 caracteres.
                </div>
            </div>

            <!-- Campo Descrição -->
            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <textarea id="descricao" class="form-control" formControlName="descricao"></textarea>
            </div>

            <!-- Botão de Submit -->
            <button type="submit" class="btn btn-primary" [disabled]="tarefaForm.invalid">
                {{ modoEdicao ? 'Atualizar' : 'Criar' }} Tarefa
            </button>
        </form>
    </div>
</app-layout>