<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Registrar Usuario</h3>

            <!-- Exibir mensagens de sucesso ou erro -->
            <div *ngIf="mensagemSucesso" class="alert alert-success">
                {{ mensagemSucesso }}
            </div>
            <div *ngIf="mensagemErro" class="alert alert-danger">
                {{ mensagemErro }}
            </div>

            <form [formGroup]="cadastroForm" (ngSubmit)="cadastrarUsuario()">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" id="nome" class="form-control" formControlName="name"
                        placeholder="Digite seu nome" />
                    <div *ngIf="cadastroForm.get('name')?.touched && cadastroForm.get('name')?.invalid"
                        class="text-danger">
                        Nome é obrigatório.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" id="email" class="form-control" formControlName="email"
                        placeholder="Digite seu e-mail" />
                    <div *ngIf="cadastroForm.get('email')?.touched && cadastroForm.get('email')?.invalid"
                        class="text-danger">
                        {{ cadastroForm.get('email')?.errors?.['required'] ? 'E-mail é obrigatório.' : 'E-mail
                        inválido.' }}
                    </div>
                </div>

                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" id="senha" class="form-control" formControlName="password"
                        placeholder="Digite sua senha" />
                    <div *ngIf="cadastroForm.get('password')?.touched && cadastroForm.get('password')?.invalid"
                        class="text-danger">
                        A senha deve ter no mínimo 6 caracteres.
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-100" [disabled]="cadastroForm.invalid">
                    Cadastrar
                </button>
            </form>
            <div class="mt-3 text-center">
                <a routerLink="/login">Entrar</a>
            </div>
        </div>
    </div>
</div>