<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Login</h3>

      <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <!-- Email Field -->
        <div class="mb-3">
          <label for="email" class="form-label">Email </label>
          <input type="email" id="email" class="form-control" placeholder="Informe o seu email" required
            [(ngModel)]="email" name="email" #emailInput="ngModel" />
          <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger">
            Coloque um email válido
          </div>
        </div>

        <!-- Password Field -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" class="form-control" placeholder="Informe sua senha" required
            [(ngModel)]="password" name="password" #passwordInput="ngModel" />
          <div *ngIf="passwordInput.invalid && passwordInput.touched" class="text-danger">
            Coloque sua senha
          </div>
        </div>

        <div class="mb-3" *ngIf="errorMensage">
          <div class="alert alert-danger" role="alert">
            <strong>Error!</strong> {{errorMensage}}
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">
          Entrar
        </button>
      </form>
      <div class="mt-3 text-center">
        <a routerLink="/registrar">Registrar usuário</a>
      </div>

    </div>
  </div>
</div>