<h1>Bem-vindo, {{ username }}!</h1>
<table>
  <tr>
    <th>id</th>
    <th>titulo </th>
    <th>status</th>
    <th>ações</th>
  </tr>
  <tr *ngFor="let tarefa of tarefas">
    <td>{{tarefa.id}}</td>
    <td>{{tarefa.titulo}}</td>
    <td>{{tarefa.status}}</td>
    <td>
      <button (click)="finalizarTarefa(tarefa.id)">Finalizar</button>
      <button (click)="editarTarefa(tarefa.id)">Editar</button>
      <button (click)="deletarTarefa(tarefa.id)" style="color: red;">Excluir</button>
    </td>
  </tr>
</table>